body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
}

input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button#login {
    background-color: #65ad65;
}
button#login:hover {
    background-color: #3a653a;
}

button#register {
    background-color: #c3936c;
}
button#register:hover {
    background-color: #836348;
}


button#dashboard {
    background-color: #a3974e;
}
button#dashboard:hover {
    background-color: #81783b;
}

button#logout {
    background-color: #bc5858;
}
button#logout:hover {
    background-color: #7e3b3b;
}

button#adminpanel {
    background-color: #65ad65;
}
button#adminpanel:hover {
    background-color: #488048;
}


button:hover {
    background-color: #0056b3;
}



.short-url-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef ;
    border-radius: 5px;
    word-wrap: break-word;
}

.short-url-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.short-url-container a:hover {
    text-decoration: underline;
}


.url-list {
    list-style: none;
    padding: 0;
}

.url-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.url-details {
    display: flex;
    align-items: center;
}

.short-url {
    color: #007bff;
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}

.short-url:hover {
    text-decoration: underline;
}

.visit-count {
    font-size: 14px;
    color: #888;
}

/* Delete button */
.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e53935;
}




