<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Tinkly-URL-Shortener</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h2>Tinkly-URL-Shortener</h2>
<input type="text" id="long_url" placeholder="Enter long URL", value="https://">
<button id="shorten-btn">Shorten</button>

<div id="short_url">

</div>
<br>
    {% if not current_user %}
    <button id="login" onclick="window.location.href='/login/'">Login</button>
    <button id="register" onclick="window.location.href='/register/'">Register</button>
    {% else %}
    {% if current_user.is_admin %}
    <button id="adminpanel" onclick="window.location.href='/admin/'">Admin Panel</button>
    {% endif %}

    <button id="dashboard" onclick="window.location.href='/dashboard/'">Dashboard</button>
    <button id="logout" onclick="window.location.href='/logout/'">Logout</button>
    {% endif %}
    </div>
<script src="/static/script.js"></script>
</body>
</html>